body {
	font            : $mainFont;
} //body

#{headings()} {
	font            : $headFont;
	color           : #333;
} //headings

p {
	margin-bottom   : 20px;

	&:last-child {
		margin-bottom: 0;
	} // :last-child
} //p