// Susy and breakpoint

$susy: (
	columns 					: 4,
	container 				: 990px,
	global-box-sizing : border-box,
	// debug 						: (image: show)
	);
	
@include border-box-sizing;

$narrow 	          : 340px;
$tablet 	          : 600px;
$desktop 	          : 980px;
$wide 	            : 1280px;
$scr__Height        : 1280px;
  
  
// Typo  
  
$base-font-size 	  : 16px;
$base-line-height   : 1.5em;
@include establish-baseline;
  
$fontFamily         : 'Roboto-reg', Arial, Helvetica, sans-serif;
$headFont           : normal 1.5em/1.5em $fontFamily;
$mainFont           : normal 1em/1.5em $fontFamily;


// Color Swatches
$black					    : #000;
$blue 					    : #3DC6EF;
$grey	 					    : #AAA;
$yellow             : #FFD220;