.agenda {
	color: #FFF;
	padding-top: 0;

	h1, h2 {
		color: #FFF;
		text-align: center;
	} // h1, h2

	h2 {
		background: rgba($blue, 0.85);
		font-size: 28px;
		margin: 0;
		padding: 10px;
	} // h2

	.agenda-head {
		display: none;
	} // .agenda-head

	table {
		width: 100%;

		th, td {
			border-bottom: 1px solid rgba(#FFF, .45);
			padding: 10px 0;
			vertical-align: top;

			&:first-child {
				@include span(3 of 12);
				background-color: $black;
				float: none;
				padding-left: 15px;
			} // :first-child

			&:last-child {
				@include span(3 of 12 last);
				float: none;
				padding-left: 15px;
			} // :last-child

			&:nth-child(2n) {
				@include span(6 of 12);
				float: none;
				padding-left: 10px;
				padding-right: 10px;
			} // nth-child(2n)

			span {
				color: #AAA;
				font: {
					size: 14px;
				} // font
			} // span
		} // th, td

		td {
			ul {
				margin-left: 20px;
			} // ul

			li {
				&:first-child, &:last-child, &:nth-child(2n) {
					padding: 5px 10px 15px;
					text-align: left;
				} // :first-child, :last-child, :nth-child(2n)
			} // li

			&.breakout-time {
				padding-top: 15px;
			} // .breakout-time
		} //td

		.meal {
			td {
				background-color: rgba($blue, .25);

				&:first-child {
					background-color: $black;
				} // :first-child
			} // td
		} // .meal

		.break {
			td {
				background-color: rgba(#FFF, .15);

				&:first-child {
					background-color: $black;
				} // :first-child
			} // td
		} // .break

		.breakout {
			td {
				// background-color: lighten($yellow, 20);
				// color: $black;
			} // td
		} // .breakout

		.breakout-child {
			td {
				// background-color: lighten($yellow, 35);
				// border-bottom: 1px solid $black;
				// color: $black;

				&.no-border {
					border: 0;
				} // .no-border

				span {
					color: $black;
				} // span
			} // td
		} // .breakout-child
	} // table

	@include susy-breakpoint(768px) {
		padding-top: 50px;

		table {
			td {
				ul {
					@include pie-clearfix;
					list-style: none;
					margin-left: 0;
				} // ul

				li {
					&:first-child, &:last-child, &:nth-child(2n) {
						@include nested(6) {
							@include gallery(2);
						} // nest(6)
						padding: 5px 10px 15px 0;
					} // :first-child, :last-child, :nth-child(2n)
				} // li
			} // td

			.meal {
				td {
					&:first-child {
						background-color: rgba($blue, .25);
					} // :first-child
				} // td
			} // .meal

			.break {
				td {
					&:first-child {
						background-color: rgba(#FFF, .15);
					} // :first-child
				} // td
			} // .break
		} // table
	} // bp(980px)
} // .agenda