.cols-10-intro {
	@include pie-clearfix;
	text-align: center;
	position: relative;

	&:after {
		@include transform(translateX(-50%));
		content: "";
		width: 0; 
	  height: 0; 
	  border-left: 100px solid transparent;
	  border-right: 100px solid transparent;
	  border-top: 30px solid #000;
	  position: absolute;
	  bottom: -30px;
	  left: 50%;
	} // :after
} // .cols-10-intro

.about {
	@include susy-breakpoint(980px, 12) {
		@include span(7 wider);
		text-align: left;
	} // bp(980)
} // .about

.sponsors {
	margin-top: 60px;

	h3 {
		color: #FFF;
	} // h3

	ul {
		list-style: none;
	} // ul

	p {
		color: $grey;
		margin-bottom: 10px;
	} // p

	a {
		display: block;
		outline: 0;
	} //  a

	img {
		margin-bottom: 20px;
	} // img

	.titanium {
		@include pie-clearfix;
		margin-bottom: 20px;

		img {
			width: 90px;
		} //  img
	} // .titanium

	.level-2-sponsors {
		ul {
			@include pie-clearfix;
			margin: 0 auto;
			width: 250px;
		} // ul

		li {
			float: left;
			padding: 0 10px;
		} // img
	} // .level-2-sponsors

	.sponsor-wrap {
		@include pie-clearfix;
	} // .sponsor-wrap

	.platinium {
		li {
			margin-bottom: 20px;
		} // li

		img {
			width: 105px;
		} // img
	} // .platinium

	.gold {
		img {
			width: 85px;
		} // img
	} // .gold

	@include susy-breakpoint(768px ,6) {
		@include pie-clearfix;
		@include span(4 at 2 isolate);
		margin-bottom: 60px;

		.level-2-sponsors {
			@include gallery(3);
			margin-top: 20px;
		} // .level-2-sponsors

		.platinium, .gold {
			@include pie-clearfix;
		} // .platinium, .gold
	} // bp(768)

	@include susy-breakpoint(980px, 12) {
		@include span(4 last);
		border-left: 1px solid #FFF;
		margin-top: 0;
		margin-left: 0;
		padding-left: 65px;
		text-align: left;

		h3 {
			margin-top: 10px;
			margin-bottom: 10px;
		} // h3

		.titanium {
			img {
				float: left;
			} // img
		} // .titanium

		.level-2-sponsors {
			@include nested(4) {
				@include full;
				float: none;

				&:nth-child(n) {
					margin-left: 0;
				} // nth-child(n)
			} // nested(4)
		} // .level-2-sponsors

		.gold {
			margin-top: -15px;
		} // .gold
	} // bp(980)
} // .sponsor

.agenda-brief {
	.agenda-brief-container {
		padding: 0 30px;

		.agenda-brief-info {
			padding: 10px;

			h3 {
				border-bottom: 1px solid $black;
				font-size: 24px;
				padding: 0 10px;
			} // h3

			ul {
				margin-left: 20px;
			} // ul
		} // .agenda-brief-info
	} // .agenda-brief-container

	@include susy-breakpoint(560px, 6) {
		.brief-agenda-group {
			@include pie-clearfix;
			max-width: 720px;
			margin-left: auto;
			margin-right: auto;
		} // .brief-agenda-group

		.agenda-brief-info {
			@include gallery(3);
			max-width: 320px;
		} // .agenda-brief-info
	} // bp(560px)
} // .agenda-brief

.reason {
	h2 {
		color: #FFF;
	} // h2

	ul {
		@include pie-clearfix;
		list-style: none;

		li {
			padding: 15px;
			text-align: center;
		} // li
	} // ul

	@include susy-breakpoint(560px, 6) {
		ul {
			li {
				@include gallery(3);
			} // li
		} // ul
	} // bp(560px)

	@include susy-breakpoint(800px) {
		margin-bottom: 100px;
	} // bp(800)

	@include susy-breakpoint(980px, 12) {
		ul {
			li {
				@include gallery(3);
			} // li
		} // ul
	} // bp(980px)
} // .reason

.early-bird {
	@include box-shadow(inset 0 0 5px rgba($black, .65));
	background-color: $yellow;
	color:$black;
	text-align: center;
	margin: 40px 0 100px;
	padding: 20px 20px 60px;

	p {
		margin: 0;
	} // p

	@include susy-breakpoint(800px) {
		bottom: 0;
		margin: 0;
		position: fixed;
		width: 100%;
		z-index: -1;
	} // bp(800)
} // .early-bird

.button {
	&.home-register {
		clear: both;
	} // .home-register
} // .button