.speakers {
	ul {
		@include pie-clearfix;
		list-style: none;
	} // ul

	li {
		margin-bottom: 30px;
	} // li

	.title {
		border-bottom: 1px solid #AAA;
		color: #AAA;
		font: {
			size: 36px;
			weight: lighter;
		} // font
		line-height: 42px;
		text: {
			align: center;
			transform: uppercase;
		} // text
		padding-bottom: 10px;
	} // .title

	.speaker-img {
		img {
			@include transform(translateX(-50%));
			position: relative;
			left: 50%;
		} // img
	} // .speaker-img

	p {
		font-size: 14px;
		margin-top: 0;
		text-align: center;
	} // p

	#breakout {
		margin-top: 60px;
	} // #breakout

	@include susy-breakpoint(768px) {
		li {
			@include gallery(2 of 6);
		} // li

		.speaker-img {
			img {
				@include transform(none);
				left: inherit;
			} // img
		} // .speaker-img
	} // bp(768px)
} // .speakers